.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

body{
    background-size: cover;
}

#status{
    background-color:lightskyblue;
    border-radius:15px;
}

img{
    height:300px;
    width:350px;
}